
#board{
  width: 910px;
  min-height:100px;
  position:relative;
}

.title{
  background-color:#52460a;
  text-align:center;
  color:white;
  padding: 2px 0px;
}

#in-progress{
  left:302px;
}

#done{
  left:604px;
}

#to-do, #in-progress, #done{
  background-color: tan;
  position:absolute;
  width: 300px;
  min-height:150px;
  border: 2px solid black;
}

.cardTitle{
  background-color: rgb(255,255,255);
  border:2px solid white;
}
